body{
    background-color: #a5e1b9;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem 0;
    color: #1f6c38;
}

.posts{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding:  0 3rem;
}

.post{
    margin: 1rem 0;
    background-color: rgba(255,255,255,0.8);
    border-radius:0.5rem;
    padding: 1rem;
    border: 0.5rem;
    border:0.5rem solid white;
    box-shadow: 10px 14px 20px rgba(137,137,137,0.2);

}
.header{
    display: flex;
    font-size: 1.5rem;
    color: #1f6c37;
    font-weight: 700;
    text-transform: uppercase;
}