body,
html {
  box-sizing: border-box;
  font-family: "Gowun Batang", serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-size: cover;
  display: grid;
  grid-template-rows: 20% 80%;
}
* {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color:#005600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  z-index:100;
}
.box {
  background-color: #FFF3D5;
}
svg {
  stroke: black;
  stroke-width: 3px;
}
.box svg {
  transform: scale(1.2) translate(-5%, -8%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.sonamu {
  fill: #002d00;
}
.neutinamu {
  fill: #66e177;
}
.hwehwanamu {
  fill: #007229;
}
.mongnyeon {
  fill: #ffffff;
}
.eunhangnamu {
  fill: #ffd500;
  transition: all 10s;
}
.eunhangnamu:hover {
  transform: rotate(180deg);
  fill: black;
}
.wangbudnamu {
  fill: #ffd0e0;
}
.yangbeozeumnamu {
  fill: #ffac04;
}
.ipapnamu {
  fill: #e2feb4;
}
.tulipnamu {
  fill: #fece6f;
}
.eundanpungnamu {
  fill: #ff2e00;
}
.salgunamu {
  fill: #ff6163;
}
.gamnamu {
  fill: #ff5900;
}
.mugunghwa {
  fill: #ff808d;
}
.populusnamu {
  fill: #7d8737;
}
.metasequoia {
  fill: #7e4d24;
}
.suyangbudeul {
  fill: #b0eb53;
}
.chillyeopsu {
  fill: #3f0000;
}
.nereupnamu {
  fill: #651039;
}
.gajuknamu {
  fill: #24d228;
}
