.menu-detail-area{
    background-color: #fff;
    .menu-img{
        position:relative;
        height: 300px;
        background-color: #f8fafb;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
        &::before{
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: 130px;
            background-image: linear-gradient(to bottom,#000,rgba(0,0,0,0));
            z-index: 1;
            opacity: 0.2;
         }
         &::before{
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: 130px;
            background-image: linear-gradient(to top,#000,rgba(0,0,0,0));
            z-index: 1;
            opacity: 0.15;
         }
    }
    .menu-info-area{
        padding: 0 $m-padding 20px;
        .common-inner {
           position: relative;
           padding: 18px;
           box-shadow: 0 0 4px 3px rgba(0,0,0,0.04);
           border-radius: 5px;
           margin-top: -20px;
           background-color: #fff;
           z-index: 1;
        }
        .menu-info-group{
            margin: 5px;
            .menu-price{
                line-height: 24px;
                font-size: 19px;
                font-weight: 700;
                color:  red;
            }
            .menu-grade::before{
                content: '';
                display: inline-block;
                width: 1px;
                height: 12px;
                background-color: $booking-color-bg204;
                margin: 0 8px;
                transform: translateY(2px);
            }
        }
        .menu-desc{
            margin-top: 12px;
            font-size: 15px;
            line-height: 22px;
            color: $booking-color-text6;
        }
    }
    //메뉴 주문 영역
    .order-type-area{
        margin-top: 20px;
        padding-top: 20px;
        border-top:1px solid $booking-color-border160;
        .type-select,.type-amount{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .type-select{
            display: flex;
            align-items: center;
            font-size: 15px;font-weight: 700;
            letter-spacing: -0.3px;
            color: $booking-color-text6;
            .order-logo{
                margin-right: 4px;
                width: 20px;
            }
            .tab-switch-box{
                margin-top: 0;
                width: 160px;
            }
            .tab-switch{
                line-height: 37px;
                border-radius: 3px;
                font-size: 13px;
                &.is-active{
                    flex: 1;
                    &::after{
                        display: none;
                    }
                }
            }
        }
        .type-amount{
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -0.3px;
            color: $booking-color-text6;
        }
        .btn-order{
            display: block;
            margin-top: 20px;
            padding: 0 16px;
            width: 100%;
            line-height: 46px;
            border-radius: 3px;
            font-weight: 700;
            background-color: $green;
            color: #fff;
            @include ellipse;
            &.disabled{
                background-color: #c9c9c9;
                color: $booking-color-text131;
            }
        }
    }
}