main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

main::before{
    content: '';
    display: block;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background:url('../images/bg.jpg') no-repeat;
    opacity: 0.6;
}

section{
    margin-top: -270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(100vw - 20px);
}

.ball_answer{
    text-align: center;
    width: 180px;
    height: 20px;
    border: 1px solid black;
    background-color: #fff;
    font-size: 18px;
}

.ball_result{
    margin-top: 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    text-align: center;

    span{
        display: block;
        margin-top: 20px;
        font-size: 16px;
        em{
            font-size: normal;
        }
    }
}

form{
    display: flex;
    margin-top: 30px;
    .ball_input{
        width: 100px;
        height: 30px;
        border: 1px solid #ccc;
    }
    button{
        background-color: #333;
        border: none;
        width: 70px;
        height: 30px;
        margin-left: 10px;
        padding: 0 10px;
        color: #fff;
        cursor: pointer;
    }
    button:hover,button:active,button:focus{
        opacity: 0.8;
    }
}
