body{
    background-color: skyblue;
}
table{
    border-color: red;
    background-color: white;
    border-collapse:collapse;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0  5px black;

}

td{
    text-align:center;
}

input{
    font-size: 30px;
    color: skyblue;
    text-align: right;
    border: none;
}


input:focus{
    outline: none;
}
